div {
    margin: 0px;
	padding-right: 10%;
    padding-left: 10%;
}

#header {  
        
}
a, a:visited{
     color:#adb2ba;
     text-decoration: none;
}    

a:hover {
    color: #3C455D;
    text-decoration: underline;
}
#main {
	
}

.thumbnail img {
    width: 45%;
    margin: 2.5%;
   
}
@font-face {
   font-family: libelsuit; 
   src: url(“../libel-suit/libel-suit-rg.ttf”)
}

#name {
   font-family:libelsuit;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-size: 3em;
   line-height: 1.25em;
}
#gallery {
	font-family:libelsuit;
	text-align: right;
	color: #adb2ba;
	font-size: 2em;
	line-height: 1.25em;


}

#footer{
}
