#header { 
	margin: 0px;
	padding-right: 15%;
    padding-left: 15%;
        
}
a, a:visited{
     color:#adb2ba;
     text-decoration: none;
}    

a:hover {
    color: #3C455D;
    text-decoration: underline;
}
#main {
	margin: 0px;
	padding-right: 15%;
    padding-left: 15%;
}

.thumbnail img {
    width: 20%;
    margin: 2%;
    transition: all .2s ease-in-out;
   
}

.thumbnail:hover img{
	opacity: .6;
	transform: scale(.92);
}
.thumbnail img:hover {
	opacity: 1;
	transform: scale(1);
	box-shadow: 0 0 7px rgba(0, 0, 0, .5);
@font-face {
 font-family:libelsuit;
 src: url(../libel-suit/libel-suit-rg.ttf);
}


#name {
   font-family:libelsuit;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-size: 3em;
   line-height: 1.25em;
}
#gallery {
	font-family:libelsuit;
	text-align: right;
	color: #adb2ba;
	font-size: 2em;
	line-height: 1.25em;


}

#footer{
margin: 0px;
	padding-right: 15%;
    padding-left: 15%;
}
