div {
   border-width: 1px;
   border-style: dashed;
   border-color: black;
}

#header {  
	position: static;
    left: auto;
    right: auto;
    float: none;
    height: auto;
    line-height: 1.5em;
    margin-top: 0;
    padding-top: 10px;
    padding-right: 13%;
    padding-left: 13%;
}

#main {
	padding-top: 1%;
    padding-right: 13%;
    padding-bottom: 0%;
    padding-left: 13%;
}
.thumbnail img {
       float: left;
    width: 45%;
    margin: 2.5%;
   
}
@font-face {
font-family: libelsuit;
src: url(/libel-suit-rg.ttf);
}
